<!-- <h1>{{message}}</h1> -->
<!-- <app-hi (childEvent)="message=$event" [parentData]="fullname"></app-hi> -->
<!-- <app-hi></app-hi> -->
<header id="header" class="header has-sticky sticky-jump">
    <div class="header-wrapper">
        <div id="top-bar" class="header-top hide-for-sticky nav-dark">
            <div class="flex-row container">
                <div class="flex-col hide-for-medium flex-left">
                    <ul class="nav nav-left medium-nav-center nav-small  nav-">
                        <li class="html custom html_topbar_left">BaloNo1 - Chuyên cung cấp sản phẩm Balo thương
                            hiệu quốc tế</li>
                    </ul>
                </div>
                <div class="flex-col hide-for-medium flex-center">
                    <ul class="nav nav-center nav-small  nav-"></ul>
                </div>
                <div class="flex-col hide-for-medium flex-right">
                    <ul class="nav top-bar-nav nav-right nav-small  nav-">
                        <li id="menu-item-41"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-41">
                            <a href="https://balono1.vn/cart/" class="nav-top-link">Cart</a>
                        </li>
                        <li id="menu-item-40"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-40">
                            <a href="https://balono1.vn/checkout/" class="nav-top-link">Checkout</a>
                        </li>
                        <li id="menu-item-15272"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-15272">
                            <a href="https://balono1.vn/chinh-sach-bao-hanh/" class="nav-top-link">Chính Sách
                                Bảo Hành</a>
                        </li>
                        <li id="menu-item-15273"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-15273">
                            <a href="https://balono1.vn/chinh-sach-van-chuyen/" class="nav-top-link">Chính Sách
                                Vận Chuyển</a>
                        </li>
                        <li id="menu-item-15274"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-15274">
                            <a href="https://balono1.vn/doi-tra-san-pham/" class="nav-top-link">Đổi Trả Sản
                                Phẩm</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-col show-for-medium flex-grow">
                    <ul class="nav nav-center nav-small mobile-nav  nav-">
                        <li class="html custom html_topbar_left">BaloNo1 - Chuyên cung cấp sản phẩm Balo thương
                            hiệu quốc tế</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="masthead" class="header-main hide-for-sticky">
            <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                <div id="logo" class="flex-col logo">
                    <a href="https://balono1.vn/"
                        title="Balo No.1 Chuyên Balo &#8211; Túi Đeo Chéo Hàng Hiệu Giá Rẻ - Balono1.vn"
                        rel="home">
                        <img width="244" height="105"
                            src="https://balono1.vn/wp-content/uploads/2017/12/logobalono1.png"
                            class="header_logo header-logo"
                            alt="Balo No.1 Chuyên Balo &#8211; Túi Đeo Chéo Hàng Hiệu Giá Rẻ" />
                        <img width="244" height="105"
                            src="https://balono1.vn/wp-content/uploads/2017/12/logobalono1.png"
                            class="header-logo-dark"
                            alt="Balo No.1 Chuyên Balo &#8211; Túi Đeo Chéo Hàng Hiệu Giá Rẻ" />
                    </a>
                </div>
                <div class="flex-col show-for-medium flex-left">
                    <ul class="mobile-nav nav nav-left ">
                        <li class="nav-icon has-icon">
                            <div class="header-button">
                                <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay"
                                    data-color="dark" class="icon primary button circle is-small"
                                    aria-label="Menu" aria-controls="main-menu" aria-expanded="false">
                                    <i class="icon-menu"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flex-col hide-for-medium flex-left
flex-grow">
                    <ul class="header-nav header-nav-main nav nav-left  nav-uppercase">
                        <li class="header-block">
                            <div class="header-block-block-1">
                                <div class="row header-block" id="row-342859187">
                                    <div class="col medium-8 small-12 large-8">
                                        <div class="col-inner">
                                            <h2 class="shop-phone" style="text-align: left; margin-bottom: 0;">
                                                <span style="font-size: 80%; color: #1e73be;"
                                                    data-text-color="primary">
                                                    <strong>CỬA HÀNG BALONo.1 </strong>
                                                </span>
                                            </h2>
                                            <p style="line-height: 1.0;">
                                                <span style="font-size: 75%;">Cung cấp sản phẩm balo của những
                                                    thương hiệu quốc tế: The North Face, Fjallraven Kanken,
                                                    Under Armour, Deuter, Jack Wolfskin,5.11 Tactical…</span>
                                            </p>
                                            <p class="shop-phone" style="text-align: left;">
                                                <i class="icon-map-pin-fill"></i>
                                                <span style="color: #000000; font-size: 90%;"> HCM: 302/6B Lê
                                                    Văn Sỹ, phường 14, quận 3, HCM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col medium-4 small-12 large-4">
                                        <div class="col-inner">
                                            <div class="gap-element clearfix"
                                                style="display:block; height:auto; padding-top:21px"></div>
                                            <a class="plain" href="tel:0904690609" target="_blank"
                                                rel="noopener noreferrer">
                                                <div class="icon-box featured-box icon-box-left text-left">
                                                    <div class="icon-box-img" style="width: 40px">
                                                        <div class="icon">
                                                            <div class="icon-inner"
                                                                style="color:rgb(30, 115, 190);">
                                                                <img width="1" height="1"
                                                                    src="https://balono1.vn/wp-content/uploads/2019/10/customer-service.svg"
                                                                    class="attachment-medium size-medium"
                                                                    alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="icon-box-text last-reset">
                                                        <p>
                                                            <span style="font-size: 90%; color: #000000;">Hỗ trợ
                                                                khách hàng
                                                                <br />
                                                                <strong>
                                                                    <span
                                                                        style="font-size: 120%; color: #000">0904.690.609</span>
                                                                </strong>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flex-col hide-for-medium flex-right">
                    <ul class="header-nav header-nav-main nav nav-right  nav-uppercase">
                        <li class="account-item has-icon
">
                            <a type="button"  data-toggle="modal" >
                                <a type="button"  data-toggle="modal" data-target="#myModal"> Đăng nhập </a> <a routerLink="/register"> / Đăng ký </a>
                            </a>
                            <!-- <a data-toggle="modal" data-target="#loginformpopup">
                                <span> Đăng nhập / Đăng ký </span>
                            </a> -->
                        </li>
                        <li class="header-divider"></li>
                        <li class="cart-item has-icon has-dropdown">
                            <a href="/cart" title="Giỏ hàng"
                                class="header-cart-link is-small">
                                <span class="header-cart-title"> Giỏ hàng </span>
                                <span class="image-icon header-cart-icon" data-icon-label="1">
                                    <img class="cart-img-icon" alt="Giỏ hàng"
                                        src="https://balono1.vn/wp-content/uploads/2019/11/icon-cart-1.png" />
                                </span>
                            </a>
                            <ul class="nav-dropdown nav-dropdown-default">
                                <li class="html widget_shopping_cart">
                                    <div class="widget_shopping_cart_content">
                                        <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong
                                            giỏ hàng.</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="flex-col show-for-medium flex-right">
                    <ul class="mobile-nav nav nav-right ">
                        <li
                            class="header-search header-search-dropdown has-icon has-dropdown menu-item-has-children">
                            <div class="header-button">
                                <a href="#" aria-label="Tìm kiếm" class="icon primary button circle is-small">
                                    <i class="icon-search"></i>
                                </a>
                            </div>
                            <ul class="nav-dropdown nav-dropdown-default">
                                <li class="header-search-form search-form html relative has-icon">
                                    <div class="header-search-form-wrapper">
                                        <div class="searchform-wrapper ux-search-box relative is-normal">
                                            <form role="search" method="get" class="searchform"
                                                action="https://balono1.vn/">
                                                <div class="flex-row relative">
                                                    <div class="flex-col flex-grow">
                                                        <label class="screen-reader-text"
                                                            for="woocommerce-product-search-field-0">Tìm
                                                            kiếm:</label>
                                                        <input type="search"
                                                            id="woocommerce-product-search-field-0"
                                                            class="search-field mb-0"
                                                            placeholder="Tìm kiếm sản phẩm, danh mục..."
                                                            value="" name="s" />
                                                        <input type="hidden" name="post_type" value="product" />
                                                    </div>
                                                    <div class="flex-col">
                                                        <button type="submit" value="Tìm kiếm"
                                                            class="ux-search-submit submit-button secondary button icon mb-0">
                                                            <i class="icon-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="live-search-results text-left z-top"></div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="cart-item has-icon">
                            <a href="https://balono1.vn/cart/"
                                class="header-cart-link off-canvas-toggle nav-top-link is-small"
                                data-open="#cart-popup" data-class="off-canvas-cart" title="Giỏ hàng"
                                data-pos="right">
                                <span class="image-icon header-cart-icon" data-icon-label="0">
                                    <img class="cart-img-icon" alt="Giỏ hàng"
                                        src="https://balono1.vn/wp-content/uploads/2019/11/icon-cart-1.png" />
                                </span>
                            </a>
                            <div id="cart-popup" class="mfp-hide widget_shopping_cart">
                                <div class="cart-popup-inner inner-padding">
                                    <div class="cart-popup-title text-center">
                                        <h4 class="uppercase">Giỏ hàng</h4>
                                        <div class="is-divider"></div>
                                    </div>
                                    <div class="widget_shopping_cart_content">
                                        <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong
                                            giỏ hàng.</p>
                                    </div>
                                    <div class="cart-sidebar-content relative"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="wide-nav" class="header-bottom wide-nav nav-dark hide-for-medium">
            <div class="flex-row container">
                <div class="flex-col hide-for-medium flex-left">
                    <ul class="nav header-nav header-bottom-nav nav-left  nav-size-medium nav-spacing-xlarge">
                        <li id="menu-item-12457"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12457 has-dropdown">
                            <a routerLink="balo" routerLinkActive="active">BALO
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class='nav-dropdown nav-dropdown-default'>
                                <li id="menu-item-12458"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12458 nav-dropdown-col">
                                    <a href="https://balono1.vn/balo/balo-thoi-trang">Balo Thời Trang</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12459"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12459">
                                            <a href="https://balono1.vn/balo/balo-di-hoc">Balo Đi Học</a>
                                        </li>
                                        <li id="menu-item-12460"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12460">
                                            <a href="https://balono1.vn/balo/balo-nam">Balo Nam</a>
                                        </li>
                                        <li id="menu-item-12461"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12461">
                                            <a href="https://balono1.vn/balo/balo-nu">Balo Nữ</a>
                                        </li>
                                        <li id="menu-item-12462"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12462">
                                            <a href="https://balono1.vn/balo/balo-tre-em">Balo Trẻ Em</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-12463"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12463 nav-dropdown-col">
                                    <a href="https://balono1.vn/balo/balo-du-lich">Balo Du Lịch</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12464"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12464">
                                            <a href="https://balono1.vn/balo/balo-chong-nuoc">Balo Chống
                                                Nước</a>
                                        </li>
                                        <li id="menu-item-12465"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12465">
                                            <a href="https://balono1.vn/balo/balo-leo-nui">Balo Leo Núi</a>
                                        </li>
                                        <li id="menu-item-12466"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12466">
                                            <a href="https://balono1.vn/balo/balo-phuot">Balo Phượt</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-12467"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12467 nav-dropdown-col">
                                    <a href="https://balono1.vn/balo/balo-laptop">Balo Laptop</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12468"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12468">
                                            <a href="https://balono1.vn/balo/balo-deo-cheo">Balo Đeo Chéo</a>
                                        </li>
                                        <li id="menu-item-12469"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12469">
                                            <a href="https://balono1.vn/balo/balo-may-anh">Balo Máy Ảnh</a>
                                        </li>
                                        <li id="menu-item-12470"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12470">
                                            <a href="https://balono1.vn/balo/balo-the-thao">Balo Thể Thao</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-12471"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12471 has-dropdown">
                            <a href="https://balono1.vn/tui" class="nav-top-link">Túi
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class='nav-dropdown nav-dropdown-default'>
                                <li id="menu-item-12472"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12472 nav-dropdown-col">
                                    <a href="https://balono1.vn/tui/tui-deo-cheo">Túi Đeo Chéo</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12473"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12473">
                                            <a href="https://balono1.vn/tui/tui-thoi-trang">Túi Thời Trang</a>
                                        </li>
                                        <li id="menu-item-12474"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12474">
                                            <a href="https://balono1.vn/tui/tui-vi">Túi Ví</a>
                                        </li>
                                        <li id="menu-item-12475"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12475">
                                            <a href="https://balono1.vn/tui/tui-du-lich">Túi Du Lịch</a>
                                        </li>
                                        <li id="menu-item-12476"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12476">
                                            <a href="https://balono1.vn/tui/tui-totepack">Túi Totepack</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-12477"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12477 nav-dropdown-col">
                                    <a href="https://balono1.vn/tui/tui-tap-gym">Túi Tập Gym</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12478"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12478">
                                            <a href="https://balono1.vn/tui/tui-may-anh">Túi Máy Ảnh</a>
                                        </li>
                                        <li id="menu-item-12479"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12479">
                                            <a href="https://balono1.vn/tui/tui-rut">Túi Rút</a>
                                        </li>
                                        <li id="menu-item-12480"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12480">
                                            <a href="https://balono1.vn/tui/tui-di-hoc">Túi Đi Học</a>
                                        </li>
                                        <li id="menu-item-12481"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12481">
                                            <a href="https://balono1.vn/tui/tui-xach-da">Túi Xách Da</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-12482"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12482 has-dropdown">
                            <a href="https://balono1.vn/thuong-hieu/" class="nav-top-link">Thương Hiệu
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class='nav-dropdown nav-dropdown-default'>
                                <li id="menu-item-12483"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12483 nav-dropdown-col">
                                    <a href="https://balono1.vn/thuong-hieu/fjallraven-kanken">Fjallraven
                                        Kanken</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12486"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12486">
                                            <a href="https://balono1.vn/thuong-hieu/jansport">Jansport</a>
                                        </li>
                                        <li id="menu-item-12488"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12488">
                                            <a href="https://balono1.vn/thuong-hieu/kavu">Kavu</a>
                                        </li>
                                        <li id="menu-item-13811"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-13811">
                                            <a href="https://balono1.vn/sakos/">Sakos</a>
                                        </li>
                                        <li id="menu-item-12489"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12489">
                                            <a href="https://balono1.vn/simple-carry">Simple Carry</a>
                                        </li>
                                        <li id="menu-item-16045"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-16045">
                                            <a href="https://balono1.vn/tommy-jean/">TOMMY JEAN</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-12490"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12490 nav-dropdown-col">
                                    <a href="https://balono1.vn/thuong-hieu/the-north-face">The North Face</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12492"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12492">
                                            <a href="https://balono1.vn/thuong-hieu/outdoor">Outdoor</a>
                                        </li>
                                        <li id="menu-item-15401"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-15401">
                                            <a href="https://balono1.vn/thuong-hieu/nike/">Nike</a>
                                        </li>
                                        <li id="menu-item-12494"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12494">
                                            <a href="https://balono1.vn/thuong-hieu/superdry">Superdry</a>
                                        </li>
                                        <li id="menu-item-12496"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12496">
                                            <a href="https://balono1.vn/mikkor">Mikkor</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-12493"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12493 nav-dropdown-col">
                                    <a href="https://balono1.vn/thuong-hieu/adidas">Adidas</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12497"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12497">
                                            <a href="https://balono1.vn/thuong-hieu/osprey">Osprey</a>
                                        </li>
                                        <li id="menu-item-12498"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12498">
                                            <a href="https://balono1.vn/thuong-hieu/under-armour">Under
                                                Armour</a>
                                        </li>
                                        <li id="menu-item-12499"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12499">
                                            <a href="https://balono1.vn/thuong-hieu/deuter">Deuter</a>
                                        </li>
                                        <li id="menu-item-12500"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12500">
                                            <a href="https://balono1.vn/thuong-hieu/jack-wolfskin">Jack
                                                Wolfskin</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-12503"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-12503 nav-dropdown-col">
                                    <a href="https://balono1.vn/thuong-hieu/vans">Vans</a>
                                    <ul class='nav-column nav-dropdown-default'>
                                        <li id="menu-item-12501"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12501">
                                            <a href="https://balono1.vn/thuong-hieu/511-tactical">5.11
                                                Tactical</a>
                                        </li>
                                        <li id="menu-item-13009"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-13009">
                                            <a href="https://balono1.vn/thuong-hieu/hier/">Hier</a>
                                        </li>
                                        <li id="menu-item-12506"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12506">
                                            <a href="https://balono1.vn/thuong-hieu/coleman">Coleman</a>
                                        </li>
                                        <li id="menu-item-12507"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12507">
                                            <a href="https://balono1.vn/thuong-hieu/burton">Burton</a>
                                        </li>
                                        <li id="menu-item-12508"
                                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12508">
                                            <a href="https://balono1.vn/thuong-hieu/levis">Levis</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-12514"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-12514">
                            <a href="https://balono1.vn/blog/" class="nav-top-link">Blog</a>
                        </li>
                        <li id="menu-item-12511"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-12511">
                            <a href="https://balono1.vn/sale-off/" class="nav-top-link">Sale</a>
                        </li>
                        <li id="menu-item-12512"
                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12512">
                            <a href="https://balono1.vn/dong-gia/" class="nav-top-link">Đồng Giá Dưới 199k</a>
                        </li>
                        <li id="menu-item-12513"
                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-12513">
                            <a href="https://balono1.vn/phu-kien/" class="nav-top-link">Phụ Kiện</a>
                        </li>
                    </ul>
                    <router-outlet></router-outlet>
                </div>
                <div class="flex-col hide-for-medium flex-right flex-grow">
                    <ul class="nav header-nav header-bottom-nav nav-right  nav-size-medium nav-spacing-xlarge">
                        <li class="header-search-form search-form html relative has-icon">
                            <div class="header-search-form-wrapper">
                                <div class="searchform-wrapper ux-search-box relative is-normal">
                                    <form role="search" method="get" class="searchform"
                                        action="https://balono1.vn/">
                                        <div class="flex-row relative">
                                            <div class="flex-col flex-grow">
                                                <label class="screen-reader-text"
                                                    for="woocommerce-product-search-field-1">Tìm kiếm:</label>
                                                <input type="search" id="woocommerce-product-search-field-1"
                                                    class="search-field mb-0"
                                                    placeholder="Tìm kiếm sản phẩm, danh mục..." value=""
                                                    name="s" />
                                                <input type="hidden" name="post_type" value="product" />
                                            </div>
                                            <div class="flex-col">
                                                <button type="submit" value="Tìm kiếm"
                                                    class="ux-search-submit submit-button secondary button icon mb-0">
                                                    <i class="icon-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="live-search-results text-left z-top"></div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bg-container fill">
            <div class="header-bg-image fill"></div>
            <div class="header-bg-color fill"></div>
        </div>
    </div>
</header>
<div class="show">
  <div class="modal fade hide" id="myModal">
    <div class="modal-dialog modal-xl mfp-inline-holder" style="
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
">
      <div class="modal-content  lightbox-content" style=" position: relative;
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      /* margin: 0 auto; */
      text-align: left;
      /* z-index: 1045; */
      -ms-transform: translateY(-30px);
      transform: translateY(-30px);
      /* opacity: 0; */
      transition: transform .5s,opacity .3s;">
        <div class="account-container mfp-inline-holder">
            <div class="account-login-inner">
        <!-- Modal Header -->
                <div class="modal-header" style="border-bottom: none !important">
                <h4 class="modal-title"> <h3 class="uppercase">Đăng nhập</h3></h4>
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" class="woocommerce-form woocommerce-form-login login" method="post">
                <div class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="username">Tên tài khoản hoặc địa chỉ email&nbsp;
                        <span class="required">*</span>
                    </label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" class="woocommerce-Input woocommerce-Input--text input-text" name="username"
                        id="username" autocomplete="username" value="" />
                        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                            <div *ngIf="fval.email.errors.required">Email is required</div>
                            <div *ngIf="fval.email.errors.email">Enter valid email address</div>
                        </div>
                </div>
                <div class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="password">Mật khẩu&nbsp;
                        <span class="required">*</span>
                    </label>
                    <input formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" class="form-control woocommerce-Input woocommerce-Input--text input-text" type="password"
                        name="password" id="password" autocomplete="current-password" />
                    <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                        <div *ngIf="fval.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-row">
                    <label style="width: 100%;"
                        class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                        <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme"
                            type="checkbox" id="rememberme" value="forever" />
                        <span>Ghi nhớ mật khẩu</span>
                    </label>
                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce"
                        value="b517e0bee7" />
                    <input type="hidden" name="_wp_http_referer" value="/" /><br/>
                    <button type="submit" class="woocommerce-Button button woocommerce-form-login__submit"
                        name="login" value="Đăng nhập">Đăng nhập</button>
                </div>
                <div class="woocommerce-LostPassword lost_password">
                    <a href="https://balono1.vn/my-account/lost-password/">Quên mật khẩu?</a>
                </div>
            </form>
        </div>
        </div>
        </div>
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>  
</div>

<router-outlet></router-outlet>
<!-- <app-detailhi></app-detailhi> -->